body{

    display: flex;
    flex-direction: row;
    font-family: "Nunito Sans";
    background-color: white;    
    margin: 0; 
    padding: 0;



}

/*-----------MENU izquierda---------*/
.menu{
    position: fixed;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    height: 50px;


}
.bottomborder{

    border-bottom: 1px solid #0000005e;

}

.menu li{

    list-style: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: 100px;

}
.menu li:hover, .menu li:hover a{
    background-color: #4880FF;
    color: white;
}
.seleccionado{
    background-color: #4880FF;
    color: white;
}
.seleccionado a{
    background-color: #4880FF;
    color: white;

}
ul li.seleccionado a {  /*PA que el li que este seleccionado tenga el a en color blanco*/
    color: white; 
    text-decoration: none;
}
.menu li>a{
    text-decoration: none;
    color: black;
}


/*------MAIN-------*/
.main{

    padding-left: 230px;
    width: 100%;
    


}




/*header*/
header{

    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    position: fixed;
    


}
.header-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 35px;
    align-items: center;

}
.header-left img{
    width: 25px;
    height: 25px;
}
.header-left input{
    width: 400px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid #0000005e;
    padding-left: 10px;
}

.header-right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 35px;
    gap: 40px;
}
.Cuenta{
    display: flex;
    flex-direction: column;
}
.Cuenta p {
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    
}
.Name{

    font-size: 14px;
    font-weight: 700;

}
.TipeAcount{

    font-size: 12px;
    font-weight: 600;

}


/*Main body*/


.content{
    padding-top: 60px;
    width: 100%;
    height: 100%;
    background-color: #d0dfdf62;
    

}
.content h1{
    padding: 20px;
}


/* Cards */


.contenedorcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Tres columnas en pantallas grandes */
    gap: 50px; /* Espaciado entre las cards */
    padding: 50px; /* Espaciado interno */
}

.contenedorcards > div {
    background-color: #fff; /* Fondo blanco para las cards */
    border: 1px solid #dddddd55; /* Borde ligero */
    border-radius: 14px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.fotoyflechitas{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.imgprincipal{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 260px;


}

.debajoimagen{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}
.debajoimagen button{

    background-color: #E2EAF8;
    border: none;
    border-radius: 12px;
    opacity: 0.7;
    padding: 10px;

}
.detallesproductos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.detallesproductos img, .detallesproductos p{

    padding: 0px;
    margin: 0px;

}
.prize{

    color: #4880FF;

}